PORT=5000
MONGODB_URI=mongodb://127.0.0.1:27017/studyvault
JWT_SECRET=studyvault_secret_key_abc123xyz456def789
EMAIL_USER=sindhuturkio20@gmail.com
EMAIL_PASS=your_16_char_app_password
ADMIN_EMAIL=sindhuturkio20@gmail.com
ALLOWED_DOMAINS=edu.pk,ac.pk,university.edu.pk,neduet.edu.pk,cloud.neduet.edu.pk,gmail.com
FRONTEND_URL=http://localhost:5000
